:root{
  --color-red: #fe1936;
  --color-btn: #D93F3F;

}


*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

img {
width: 100%;
display: block;
}

a {
  font-family: inherit;
  text-decoration: none;
}

input{
  outline: none;
}